.alinhamento {
  margin-top: 5px;
  margin-left: 5px;
  align-items: justify;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  height: 35px;
  /* display: flex; */
  /* flex-direction: row-reverse; */
}

.alinhamentoLeft {
  /* só para testes */
  background-color: aqua;
  display: flexbox;
}

.borda {
  border: 10px, solid;
  margin: 5%;
}

.tabela {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.pica {
  padding: 2%;
}

.icon {
  height: 50px;
  width: 50px;
}

.teste {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 450px) {
  .alinhamento {
    display: flex;
    flex-direction: row-reverse;
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
    align-items: justify;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 390px) {
  .alinhamento {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    display: -webkit-inline-box;
  }
}
