.alinhamento {
  margin-top: 5px;
  margin-left: 5px;
  align-items: justify;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  height: 35px;
}

.alinhamentoLeft{
  /* só para testes */
  background-color: aqua;
  display: flexbox;
}

.borda {
  border: 10px, solid;
  margin: 50px;
}

.tabela {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.pica {
  padding: 2%;
}

.icon{
  height: 30px;
  width: 30px;
}
